.Rectangle {
    max-width: 23em;
    min-width: 23em;
    padding: auto;
    height: 14em;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    color: white;

    box-shadow: 5px 0 5px 0 grey;
}

.Rectangle:hover {
    cursor: pointer;
    box-shadow: 5px 0 5px 1px grey;
}

.Table{
    width: 100%;
}

.red {
    background-color: #DA004D;
}

.green {
    background-color: #00AD97;
}
